
#box{
	background-color: black;
	padding: 2px 2px 2px 2px ;
	margin-right:  auto;

	margin-left: auto;
	width: 300px;
	height: 135px;
	
}

#content{
	background-color: #c0c0c0;
	padding: 35px 5px 10px 10px;
}

*{
	margin: 0;
	padding: 0;

}

#mockup{
	background-color: #ffc0cb;
	position: relative;
	bottom: 137px;
	border: 2px solid black;
	left: 188px;
	height: 20px;
	width: 110px;
	text-align: center;
}
h1{
	text-align: center;
	margin-top: 30px;
	margin-bottom: 70px;
}
#box2{
	background-color: black;
	padding: 2px 2px 2px 2px ;
	height: 135px;
	margin-left: auto;
	margin-right: auto;

	width: 300px;
	

}
#mockup2{
	background-color: #DC143C;
	position: relative;
	bottom: 137px;
	border: 2px solid black;
	left: 188px;
	height: 20px;
	width: 110px;
	text-align: center;
}
#box3{
	background-color: black;
	padding: 2px 2px 2px 2px ;
	margin-left:  auto;
	margin-right: auto;


	width: 300px;	
	height: 135px;
	

}
#mockup3{
	background-color: #FFD700;
	position: relative;
	bottom: 137px;
	border: 2px solid black;
	left: 188px;
	height: 20px;
	width: 110px;
	text-align: center;
}
@media(min-width: 992px){
	.col-lg-1,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,
	.col-lg-8,.col-lg-9,.col-lg-10,.col-lg-11,.col-lg-12{
		float: left;


	}





.col-lg-1{
	width: 8.33%;
}
.col-lg-2{
	width: 16.66%;
}
.col-lg-3{
	width: 25%;
}
.col-lg-4{
	width: 33%;
}
.col-lg-5{
	width: 41.66%;
}
.col-lg-6{
	width: 50%;
}
.col-lg-7{
	width: 58.33%;
}
.col-lg-8{
	width: 66.66%;
}
.col-lg-9{
	width: 75%;
}
.col-lg-10{
	width: 83.33%;
}

.col-lg-11{
	width: 91.66%;
}

.col-lg-12{
	width: 100%;
}
}


.row{
	width: 100%;


}

@media(min-width: 768px) and (max-width: 991px){

	.col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,
	.col-md-8,.col-md-9,.col-md-10,.col-md-11,.col-md-12{
		float: left;



	}
	#box3{
	
		margin-top: 25px;
		margin-left: 180px;
	
	
		width: 617px;
		height: 105px;
		
	
	
		
		}
		#box{

			
			margin-left: 175px;
			height: 145px;
			

		}
		#box2{
			margin-right:  175px;
			height: 145px;



		}
		#mockup3{
			position: relative;
			left:   505px;
			bottom: 107px;

		}
		#mockup{
			position: relative;
			bottom: 147px;


		}
		#mockup2{
			position: relative;
			bottom: 147px;


}
	
	
	
.col-md-1{
	width: 8.33%;
}
.col-md-2{
	width: 16.66%;
}
.col-md-3{
	width: 25%;
}
.col-md-4{
	width: 33%;
}
.col-md-5{
	width: 41.66%;
}
.col-md-6{
	width: 50%;
}
.col-md-7{
	width: 58.33%;
}
.col-md-8{
	width: 66.66%;
}
.col-md-9{
	width: 75%;
}
.col-md-10{
	width: 83.33%;
}

.col-md-11{
	width: 91.66%;
}

.col-md-12{
	width: 100%;
}

}
@media(max-width: 767px){

	#box2{
		position: relative;
		top: 20px;
		height: 145px;
		
	}
	#box3{
		position: relative;
		top: 40px;
		height: 145px;

		}
	#box{
		height: 145px;
	}
	#mockup{
		position: relative;
		bottom: 147px;
		}

	
	#mockup2{
		position: relative;
		bottom: 147px;
	}
		
	#mockup3{
		position: relative;
		bottom: 147px;
	}
		

}










